@media all and ( max-width: 1162px ){

	.mid {
		width: 90%;
	}
}


@media all and ( max-width: 727px ){

	

	.top-left{
		width: 100%;
		float: none; 
	}

	.top-left ul {
		text-align: center;
	}

	.top-right {
		width: 100%;
		float: none; 

	}
	.top-right ul {
		text-align: center;
	}
}
